*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #34495E;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
   
}

.error{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    & h1 {
        color: red;
        margin: 15px 0;
    }

    & a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    & a:hover {
        color: yellow;
    }

}