*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #34495E;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* todo style the hearder page web */

.heading{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

em{
    color: #FF7F50;
}

input{
    border: none;
}

/* todo style div flex-end, input and button*/

.flex-end{
    height: 10%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myForm{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    margin: 0 5px;
    text-align: center;
    border-radius: 12px;
    padding: 5px;
}

.myFirsButton {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #2C3E50;
    box-shadow: 5px 5px 5px #000;
    color: white;
}

.myFirsButton:hover{
    background-color: #FF7F50;
    transform: scale(1.2);
    margin: 0 5px;
}

/* todo style the container  */

.container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* todo style the ul and li */

li{
    list-style: none;
    margin: 0 5px;
}

.error{
    font-size: 1.3rem;
    color: red;

}

.mySpan{
    background-color: #2C3E50;
    box-shadow: 5px 5px 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    text-align: center;
    margin: 3px;
    border-radius: 20px;
    overflow: hidden;
    overflow-wrap: wrap;
}